.services {
    text-align: center;
    padding: 50px 0;
  }
  
  .services-title-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: fit-content;
    margin: 0 auto 40px auto;
  }
  
  .services-title {
    font-size: 2.5rem;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    width: 250px;
    border: 2px solid #CA2C92;
    margin-bottom: 10px;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  .card h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
  }
  
  .card p {
    margin: 10px 0 0;
    font-size: 1rem;
    color: #555;
    text-align: center;
  }
  
  .sub-cards {
    display: none;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    max-height: 0;
  }
  
  .sub-cards.show {
    display: flex;
    max-height: 500px; /* Ajusta este valor según la altura total de las sub-cards */
  }
  
  /* Estilo adicional para sub-tarjetas */
  .sub-cards .card {
    width: 220px;
    background-color: #f9f9f9;
    border: 2px solid #00C7B1;
  }
  
  .sub-cards .card p {
    font-size: 0.9rem;
    color: #666;
  }