/* Estilos generales */
.bg-purple {
  background-color: #AB5DA8 !important;
}

.navbar-nav .nav-link {
  font-size: 1.25rem;
  padding: 0 1rem;
  color: black !important;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: white !important; 
}

.dropdown-menu {
  background-color: #AB5DA8;
  transition: background-color 0.3s;
}

.dropdown-item {
  font-size: 1.25rem;
  color: black;
  transition: all 0.3s;
}

.dropdown-item:hover {
  background-color: #AB5DA8;
  color: white; 
  transform: scale(1.1);
}

/* Estilos de la sección de encabezado */
.header-image-container {
  position: relative;
  width: 100%;
  height: 550px;
  background: url('../imagenes/pzo.png') no-repeat center center;
  background-size: cover;
  font-family: "Mulish", sans-serif;
}

.overlay-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

.overlay-text {
  color: black;
  margin-bottom: 10px;
}

.sub-text {
  margin-top: -10px;
  margin-bottom: 10px;
}

.lower-text {
  margin-top: 10px;
}

.overlay-hr {
  border: 0;
  height: 2px;
  background-color: black;
  width: 50%;
  margin: 10px 0;
}

.overlay-button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 1.25rem;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.overlay-button:hover {
  background-color: #AB5DA8;
  color: white; 
  transition: all 0.3s;
  transform: scale(1.1);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .overlay-box {
    width: 90%;
    padding: 10px;
  }
  .overlay-text {
    font-size: 1.25rem;
  }
  .lower-text {
    font-size: 1.5rem;
  }
  .overlay-button {
    font-size: 1rem;
  }
}

/*Formulario de contacto*/
.contacto {
  padding: 20px;
}

.contact-form {
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
  border-radius: 10px;
}

.contact-form .form-control {
  border: none;
  color: black;
  border-radius: 5px;
  margin-bottom: 15px;
}

.contact-form .form-control:focus {
  color: black;
  border: 1px solid #00C7B1;
  box-shadow: 0 0 0 0.2rem rgba(0, 199, 177, 0.25);
}

.contact-form .btn-primary {
  background-color: #00C7B1;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

.contact-form .btn-primary:hover {
  background-color: #009a8a;
}

.contact-form h5 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  resize: vertical;
}

/* Grid Styles for Oferta Form */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.grid-container .form-group {
  margin-bottom: 15px;
}

/* Flexbox for Name Fields in Consulta Form */
#name-container {
  display: flex;
  justify-content: space-between;
}

#name-field {
  flex-basis: 48%;
}

/* Responsive Design */
@media (max-width: 600px) {
  #name-container {
      flex-direction: column;
  }

  #name-field {
      flex-basis: 100%;
      margin-bottom: 15px;
  }

  .grid-container {
      grid-template-columns: 1fr;
  }
}
  

/* Estilos de la sección de servicios */
.services {
  text-align: center;
  background-color: #F3F1F6;
  padding: 50px 0;
}

.services-title-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: fit-content;
  margin: 0 auto 40px auto;
}

.services-title {
  font-size: 1.5rem;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.servicios {
  display: grid;
  width: 70%;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.servicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.servicio:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.icon {
  border-radius: 50%;
  border: solid 2px #CA2C92;
  height: 100px;
  width: 100px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.servicio:hover .icon {
  transform: rotate(360deg);
}

.servicio p {
  max-width: 300px;
  color: #333;
  text-align: center;
}

.servicio img {
  height: 60px;
  width: 60px;
}

/* Estilos del footer */
.footer {
  padding: 20px 0;
  background-color: #AB5DA8;
  color: white;
  width: 100%;
  text-align: center;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer h5 {
  margin-bottom: 10px;
  font-size: 1.25rem;
}

.footer p {
  margin: 0;
}

.social-icon {
  display: inline-block;
  margin: 0 10px;
  color: white;
}

.social-icon:hover {
  color: #00C7B1;
}

.social-icon img {
  transition: transform 0.3s;
}

.social-icon img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .footer .row {
    flex-direction: column;
    text-align: center;
  }
  .footer .col-md-4 {
    margin-bottom: 20px;
  }
}

.about-us-container {
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.about-us-text {
  width: 70%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us-text h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.about-us-text p {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

.about-us-image {
  width: 30%;
  overflow: hidden;
}

.about-us-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.about-us-image img:hover {
  transform: scale(1.05);
}


/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #F3F1F6;
  margin: 0;
  padding: 0;
}

/* Contact Form Container */
.contacto {
  padding: 20px;
}

.contact-form {
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  width: 90%; /* Aprovechar más espacio */
  max-width: 800px; /* Máxima anchura para mantener legibilidad */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.contact-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('imagenes/Formulario1.webp'); /* Fondo */
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
  border-radius: 10px;
}

.form-header {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form .form-group {
  margin-bottom: 15px;
}

.contact-form .form-control {
  width: 100%;
  padding: 7px;
  background-color: white;
  border: 1px solid #ccc;
  color: #333;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-form .form-control::placeholder {
  color: #ccc;
}

.contact-form .btn-primary {
  width: 100%;
  padding: 10px;
  background-color: #AB5DA8;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.contact-form .btn-primary:hover {
  background-color: #945292;
}

/* Grid Container for "Oferta tu inmueble" form */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid-container .form-group {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  #name-container {
    flex-direction: column;
  }
}

/* Estilos para el fondo de la página */
body {
  background-color: #F3F1F6;
}


/* Contenedor principal */
.login-wrapper {
  display: flex;
  max-width: 900px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Contenedor de inicio de sesión */
.login-container {
  flex: 1;
  padding: 40px 30px;
  background-color: #f9f9f9;
}

.login-container h2 {
  text-align: center;
  color: #AB5DA8;
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.login-container form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container form button {
  padding: 10px;
  background-color: #AB5DA8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-container form button:hover {
  background-color: #923e8a;
}

/* Contenedor de descripción */
.description-container {
  flex: 1;
  padding: 40px 30px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description-container h3 {
  color: #AB5DA8;
  margin-bottom: 10px;
}

.description-container p {
  color: #555;
  font-size: 1.1rem;
  line-height: 1.5;
}
/* Media Queries para dispositivos móviles */
@media (max-width: 480px) {
  .login-container {
    padding: 15px;
  }

  .login-container form input {
    padding: 8px;
  }

  .login-container form button {
    padding: 8px;
  }
}